mat-toolbar {
    justify-content: center;
    background-color: teal;
    border-radius: 5px;
}

.headerText {
    color: ghostwhite;
}

.inner {
    margin-top: 10px;
    background-color: lightblue;
}

h1 {
    font-weight: 500;
}

.button {
    margin-top: 10px;
}