mat-toolbar {
    justify-content: center;
    background-color: teal;
    border-radius: 5px;
}

.headerText {
    color: ghostwhite;
}

form {
    margin-top: 10px;
}

.col-form-label {
    font-weight: 500;
}

button {
    margin-top: 10px;

}

.inner-card {
    margin-top: 10px;
    background-color: bisque;
}

.req {
    color: red;
}

.delete-btn {
    margin-top: 0px;
}

.radio {
    margin-top: 10px;
}

.radio-card {
    background-color: lightyellow;
}


.delete {
    margin-top: 5px;
    color: red;
}

.addsaveButton {
    margin-right: 10px;
}